packages
/*.suo
/WebSites/**/Web.Debug.config
/WebSites/**/Web.config
*.exe
*.bin
/FinaleProject/FinaleProject/bower_components/**/*.*
/FinaleProject/FinaleProject/node_modules/**/*.*
/FinaleProject/FinaleProject/**/obj/**/*.*
/FinaleProject/FinaleProject/node_modules/**/*