<h1>Топ 10 пользователей</h1>
<button class="btn btn-primary" ng-click="home.go()">Go</button>
<button class="btn btn-danger" ng-click="home.private()">Private</button>
<table class="table table-condensed">
    <thead>
        <tr>
            <th>
                №
            </th>
            <th>
                Имя
            </th>
            <th>Рейтинг</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="user in home.users track by $index">
            <td>
                {{$index+1}}
            </td>
            <td>
                {{user.name}}
            </td>
            <td>
                {{user.rating}}
            </td>
        </tr>
    </tbody>
</table>