<h1>Photos:</h1>
<div class="upload-container">
    <div class="box">
        <div class="box-input">
            Upload Files <i class="glyphicon glyphicon-upload"></i>
            <input class="box__file"
                   type="file"
                   name="files[]"
                   id="file"
                   data-multiple-caption="{count} files selected"
                   multiple
                   file-model="myFile" />

        </div>

    </div>
</div>


<div class="container">
    <div class="photo-container ng-cloak" ng-repeat="photo in photos.photos track by $index">
        <div class="photo-blackout"></div>
        <i class="glyphicon glyphicon-remove delete-photo" 
           ng-click="photos.deletePhoto(photo.Id)"
           ng-if="main.user.isAuthorized"></i>
        <img class="ng-cloak image" src="Views/Photos/GetPhotoById.cshtml?photoId={{photo.Id}}&isBig=false">
        <div class="photo-controls">
            <md-button class="md-icon-button md-accent like-button" 
                       aria-label="Favorite" 
                       ng-click="photos.likePhoto(photo.Id)"
                       ng-if="main.user.isAuthorized"
                       ng-class="{'like-active': photos.isLiked(photo)}">
                <span class="like-count">{{photo.LikesContainer.length}}</span>
                <md-icon md-svg-icon="/styles/icons/favorite.svg"></md-icon>
            </md-button>
            <md-button class="md-icon-button launch" ng-click="showPhoto($event, photo.Id)">
                <md-icon md-svg-icon="/styles/icons/zoom.svg"></md-icon>
            </md-button>
        </div>
    </div>
</div>

