<h1>Users</h1>
<md-input-container>
    <md-select ng-model="users.pageSize" ng-change="users.updatePageSize()" placeholder="Select page size">
        <md-option ng-value="opt" ng-repeat="opt in users.pageSizeList">{{ opt }} items per page</md-option>
    </md-select>
</md-input-container>
<paginator items-count="users.pageSize" total-items="users.totalCount" current-page="users.currentPage"></paginator>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Username</th>
            <th>Rating</th>
            <th>Roles</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="user in users.userList track by $index">
            <td>
                <md-button ui-sref="albums({username: user.Name})"
                           class="md-raised md-button md-ink-ripple">{{user.Name}}</md-button>
            </td>
            <td>
                {{user.Rating}}
            </td>
            <td>
                <div>
                    <span class="role-text"
                          ng-repeat="role in user.Roles">{{role}}</span>
                </div>
                <div ng-if="main.isAdmin() && user.Name !== main.user.name">
                    <md-button ng-if="!users.isModer($index)"
                               ng-click="users.toggleModer(true, $index)"
                               class="md-primary md-raised md-button md-ink-ripple role-btn">Назначить модератором</md-button>
                    <md-button ng-if="users.isModer($index)"
                               ng-click="users.toggleModer(false, $index)"
                               class="md-warn md-raised md-button md-ink-ripple role-btn">Снять модераторство</md-button>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<paginator items-count="users.pageSize" total-items="users.totalCount" current-page="users.currentPage"></paginator>