<md-dialog class="ng-cloak modal-container h100">
    <form class="h100">
        <md-toolbar>
            <div class="md-toolbar-tools color" >
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="/styles/icons/ic_close_white_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content class="h100">
            <div class="md-dialog-content zoom-content h100">
                <div class="image-wrapper"> <img class="h100 w100" src="Views/1.jpg">  </div>
                <div ng-controller="CommentsCtrl" class="ng-cloak">
                    <md-content class="comments-container " md-theme="altTheme">
                        <section>
                            <md-list-item class="md-2-line" ng-repeat="message in messages">
                                <div class="md-list-item-text">
                                    <h3>{{message.who}} {{message.when}}</h3>
                                    <h3>{{message.what}}</h3>
                                </div>
                            </md-list-item>
                        </section>
                    </md-content>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" class="color">
            <md-button class="md-icon-button md-accent " aria-label="Favorite">
                <md-icon md-svg-icon="/styles/icons/favorite.svg"></md-icon>
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>