<md-dialog class="ng-cloak modal-container h100">
    <div class="h100">
        <md-toolbar>
            <div class="md-toolbar-tools color">
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="/styles/icons/ic_close_white_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content class="h100">
            <div class="md-dialog-content zoom-content h100" ng-controller="ZoomPhotoCtrl as zoomPhoto">
                <div class="image-wrapper">
                    <img class="h100 w100" src="Views/Photos/GetPhotoById.cshtml?photoId={{zoomPhoto.photoId}}&isBig=true">
                </div>
                <div ng-controller="CommentsCtrl as comments" class="ng-cloak">
                    <md-content class="comments-container " md-theme="altTheme">
                        <section>
                            <md-list-ite class="md-2-line" ng-repeat="comment in comments.commentsList track by $index">
                                <div class="md-list-item-text">
                                    <div class="remove-button">
                                        <i class="glyphicon glyphicon-remove"
                                           ng-click="comments.deleteComment(comment.Id)"></i>
                                    </div>

                                    <div class="login-title">{{comment.AccountLogin}} </div>
                                    <!--<div>{{comment.Date | date : 'short'}}</div>-->
                                    <div>{{comment.Text}}</div>
                                </div>
                                <hr class="line">
                            </md-list-ite>
                            <form novalidate name="commentForm" ng-submit="commentForm.$valid && comments.addComment()">
                                <md-input-container class="md-input-has-placeholder flex md-default-theme">
                                    <label>Add comment</label>
                                    <input ng-model="comments.commentText"
                                           type="text"
                                           name="commentText"
                                           ng-required="true">
                                </md-input-container>
                                <md-button class="md-fab md-button md-ink-ripple"
                                           type="submit">
                                    <i class="glyphicon glyphicon-send"></i>
                                    <div class="md-ripple-container"></div>
                                </md-button>
                            </form>


                        </section>
                    </md-content>
                </div>
            </div>
        </md-dialog-content>
    </div>
</md-dialog>