.album-item{
    width: 300px;
    height:300px;
    margin: 30px;
    display: inline-block;
    position: relative;
    border-radius: 5px;
    border: 3px solid;
    border-color: #000000;

}
.album-title{
    position: absolute;
    bottom: 0;
    left:50%;
    transform: translateX(-50%);

}
.album-delete{
    position:absolute;
    top:5px;
    right:5px;

}